extends layout

block content
  h1= title
  unless reroutes
    form( method="post")
      div
        div
          span Server :
          input(type="text", value=sourceServer, size=30, name="source-server", id="editSourceServer")
        div
          span RTMP Port :
          input(type="text", value=rtmpPort, size=6, name="rtmp-port", id="editRTMPPort")
        div
          span Control Port :
          input(type="text", value=controlPort, size=6, name="control-port", id="editControlPort")
        div
          span Source App:
          input(type="text", value=sourceApp, name="source-app", id="editSourceApp")
        div
          span Target App:
          input(type="text", value=targetApp, name="target-app", id="editTargetApp")
        div
          span Clear Streams:
          input(type="checkbox", value=false, name="clear-streams")
        div#editSubmit
          input(type="submit", value="Save")
  if reroutes
    p Reroutes currently active, configuration not allowed. Stop routing to access configuration.
  //
    a(href='/reroute-stop')!= "« Stop Reroutes »"