extends layout

block content
  div.container
    div.row
      div.col-md-8
        unless reroutes
          h1= title    

          form.form-horizontal(method="post", id="configForm")
            div(class='input-group')
              span(class='input-group-addon')='Source Server'
              input.form-control(id="editSourceServer", value=sourceServer, type="text", name="source-server")
            
            div(class='input-group')
              span(class='input-group-addon')='RTMP Port      '
              input.form-control(type="text", value=rtmpPort, size=6, name="rtmp-port", id="editRTMPPort")
            
            div(class='input-group')
              span(class='input-group-addon')='Control Port'
              input.form-control(type="text", value=controlPort, size=6, name="control-port", id="editControlPort")        
            
            div(class='input-group')
              span(class='input-group-addon')='Source App'
              input.form-control(type="text", value=sourceApp, name="source-app", id="editSourceApp")
            
            div(class='input-group')
              span(class='input-group-addon')='Target App'
              input.form-control(type="text", value=targetApp, name="target-app", id="editTargetApp")    

            div.well.well-sm
              div.checkbox
                label='Clear Registered Streams'
                  input(type='checkbox')    

            input.btn.btn-default(type="submit", value="Save")
        if reroutes
          div.container      
            h1= title
            div.alert.alert-danger='Reroutes currently active, configuration not allowed. Stop routing to access configuration.'
  //
    a(href='/reroute-stop')!= "« Stop Reroutes »"