extends layout

block content
  div.container
    h1= title
    #streams  
    p Select the stream to reroute to 
      span= 'rtmp://' + server + ':' + rtmpPort + '/'
      span= targetApp
    - each stream in streams
        div
          a(target='_blank' href='/reroute?stream=' + stream)= stream
          div
            | <script src="http://jwpsrv.com/library/VhLYqNFQEeOm9SIACi0I_Q.js"></script>
            | <script src="http://jwpsrv.com/library/VhLYqNFQEeOm9SIACi0I_Q.js"></script>
            | <div id='
            =stream
            |'></div>
            | <script type='text/javascript'>
            |     jwplayer('
            = stream
            |').setup({
            |         file: '
            = 'rtmp://' + server + ':' + rtmpPort + '/' + sourceApp +'/' + stream
            |',
            |         width: '320',
            |         height: '180',
            |         controls: 'false',
            |         mute: 'true',
            |         autostart: 'true'
            |     });
            | </script>
//          |  <PARAM NAME="src" VALUE="
//          = sourceServ + stream
//          |  ";>
//          |  <PARAM NAME="controller" VALUE="false">
//          |  <PARAM name="AUTOPLAY" VALUE="true">
//          |  <PARAM NAME="qtsrc" VALUE="
//          = sourceServ + stream
//          |  ";>
//          |  <PARAM NAME="pluginspage" VALUE="http://www.apple.com/quicktime/download/indext.html";>
//          |  <PARAM name="type" VALUE="video/quicktime">
//          |  <EMBED WIDTH="200" HEIGHT="150" scale="tofit" AUTOPLAY="true" CONTROLLER="false" SRC="
//          = sourceServ + stream
//          |  "; qtsrc="
//          = sourceServ + stream
//          |  "; BGCOLOR="FFFFFF" BORDER="0" PLUGINSPAGE="http://www.apple.com/quicktime/download/indext.html";></EMBED>
//          | </OBJECT>
//
  div#registerNewStream
    a(href="/register")!= "« Add New Stream »"